.h-primary {
  /* background: linear-gradient(120deg, darkmagenta, crimson, orange); */
  background: linear-gradient(120deg, black, green, black);
  color: white;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  margin-top: .25rem;
  border-radius: 8px;
  padding: .5rem .25rem .5rem .25rem;
  border: none;
}

.h-primary:hover {
  background-position: 0 0;
}

.h-primary-outline {
  /* background: linear-gradient(120deg, black, green, black); */
  background: none;
  color: white;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  margin-top: .5rem;
  border-radius: 8px;
  border: 1px solid green;
}
}