#root {
  color: aliceblue;
  background-color: black;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html, body {
  height: 100%;
}

.sidenav {
  height: 100vh;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  display: flex; 
  flex-direction: column; 
  align-items: center;

}


.sidenav-close {
  position: fixed;
  font-size: 12px;
  left: 25vh;
  top: 0;
  /* right: .5rem; */
  /* height: 1px; */
}

.sidenav-button {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.newchat-button {
  margin-top: auto;
  margin-bottom: 2rem;
}

.message-form {
  margin: 2rem 0 2rem 0;
}

.send-message {
  margin-left: 1rem;
}

.emoji-menu {
  color: yellow;
  border: 1px yellow solid;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 1rem 0 0;
}

.emoji-menu-container {
  position: absolute;
  bottom: 15%;
  border-radius: 15px;
  max-width: 25%;
  word-wrap: normal;
  max-height: 30%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap; /* Add this line */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.emoji-menu-container p {
  font-size: 1.5rem;
  display: flex;
  word-wrap: break-word;
  flex-shrink: 0; /* Add this line */
}


.main-content {
  background-color: #2e2e2e;
  /* border: 1px solid white; */
  border-radius: 30px;
  min-height: 75vh;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
  margin-bottom: 5rem;
}

.logo {
  color: red;
}

.logo2 {
  color: grey;
}

.copyright {
  margin-left: 1rem;
}