#root {
  color: aliceblue;
  background: #000000;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  min-height: 75vh;
  background-color: #000000;
}

body {
  background: #000000;
}

.sidenav {
  height: 100vh;
  min-width: 25vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  transition: .5s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-close {
  transition: .5s;
  /* position: fixed; */
  left: 17vw;
  top: 0;
}

.sidenav-button {
  width: 90%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.newchat-button {
  margin-top: auto;
  margin-bottom: 2rem;
}

.send-message {
  margin-left: 1rem;
}

.emoji-menu {
  color: yellow;
  border: 1px yellow solid;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 1rem 0 0;
}

.emoji-menu-container {
  position: absolute;
  bottom: 15%;
  border-radius: 15px;
  max-width: 25%;
  word-wrap: normal;
  max-height: 30%;
  min-width: 32vh;
  background: linear-gradient(75deg, green, black, black);
  background-size: 200% 150%;
  background-position: 100% 0;
  transition: background-position .5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.emoji-menu-container:hover {
  background-position: 75% 25%;
}

.emoji-menu-container p {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  word-wrap: break-word;
  flex-shrink: 0;
}

.main-content {
  background-color: #2e2e2e;
  border-radius: 30px;
  min-height: 75vh;
}

main {
  flex-grow: 1;
}

.message-form {
  min-width: 80vw;
  margin: 2rem 0;
}

footer {
  margin-top: auto;
  margin-bottom: 5rem;
}

.logo {
  color: red;
}

.logo2 {
  color: grey;
}

.copyright {
  margin-left: 1rem;
}

.chat-title, .chat h1 {
  color: rgb(0, 50, 0);
}

.messages {
  font-size: 14px;
  color: #000000;
}

.messages .timestamp {
  color: rgb(0, 255, 0);
}

.messages .user {
  font-size: 10px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  padding: 2px 5px;
}

.messages .content {
  color: rgb(0, 255, 0);
  border: 1px black solid;
  border-radius: 10px;
  background-color: black;
  padding: 2px 5px;
}